<div id="navbar">
    <div class="dropdown">
        <button class="dropdownButton"><i class="fa fa-bars" style="font-size: 30px"></i></button>

        <div ng-if="$menu.admin" class="dropdown-content">
            <div class="content">
                <a href="#/offices" ng-click="$menu.checkRoute('/offices')"
                    ng-class="{active: $menu.activeRoute === '/offices' }">Offices</a>
            </div>

            <div class="content">
                <a href="#/services" ng-click="$menu.checkRoute('/services')"
                    ng-class="{active: $menu.activeRoute === '/services' }">Services</a>
            </div>

            <div class="content">
                <a href="#/bookings" ng-click="$menu.checkRoute('/bookings')"
                    ng-class="{active: $menu.activeRoute === '/bookings' }">Bookings</a>
            </div>

            <div class="content">
                <a href="#/profile" ng-click="$menu.checkRoute('/profile')"
                    ng-class="{active: $menu.activeRoute === '/profile' }">Profile</a>
            </div>
        </div>

        <div ng-if="!$menu.admin" class="dropdown-content">
            <div class="content">
                <a href="#/companies" ng-click="$menu.checkRoute('/companies')"
                    ng-class="{active: $menu.activeRoute === '/companies' }">Companies</a>
            </div>

            <div class="content">
                <a href="#/login" ng-click="$menu.checkRoute('/login')"
                    ng-class="{active: $menu.activeRoute === '/login' }">Log in</a>
            </div>
        </div>
    </div>

    <span class="company-logo">
        <a ng-if="!$menu.admin" href="#/companies" ng-click="$menu.checkRoute('/companies')" class="navbar-brand">
            Booking App
        </a>

        <a ng-if="$menu.admin" href="#/offices" ng-click="$menu.checkRoute('/offices')" class="navbar-brand">
            Booking App
        </a>
    </span>

    <div id="right">
        <span class="menuOpt">
            <ul ng-if="$menu.admin" class="pages">
                <a href="#/offices" ng-click="$menu.checkRoute('/offices')"
                    ng-class="{active: $menu.activeRoute === '/offices' }">Offices</a>

                <a href="#/services" ng-click="$menu.checkRoute('/services')"
                    ng-class="{active: $menu.activeRoute === '/services' }">Services</a>

                <a href="#/bookings" ng-click="$menu.checkRoute('/bookings')"
                    ng-class="{active: $menu.activeRoute === '/bookings' }">Bookings</a>

                <a href="#/profile" ng-click="$menu.checkRoute('/profile')"
                    ng-class="{active: $menu.activeRoute === '/profile' }">Profile</a>
            </ul>

            <ul ng-if="!$menu.admin" class="pages">
                <a href="#/companies" ng-click="$menu.checkRoute('/companies')"
                    ng-class="{active: $menu.activeRoute === '/companies' }">Companies</a>

                <a href="#/login" ng-click="$menu.checkRoute('/login')"
                    ng-class="{active: $menu.activeRoute === '/login' }">Log in</a>
            </ul>
        </span>
    </div>
</div>