<div class="companiesList">
    <div class="rectangle">
        <div class="company" ng-repeat="company in $companies.companiesList">
            <div class="logo">
                <img class="img" src="./../../../../assets/default-company.png">
            </div>
            <div class="companyInfo">
                <div class="companyName">
                    <p>{{company.name}}</p>
                </div>
                <div class=" companyDesc">
                    <p>{{company.description}}</p>
                </div>
                <div>
                    <button type="button" class="selectCompany"
                        ng-click="$companies.goToOffices('company')">SELECT</button>
                </div>
            </div>
        </div>
    </div>
</div>