<div class="login-page">
    <div class="container content" *ngIf="loginContent">
        <div class="container-login">
            <div class="container-banner">
                <img class="banner" src="./../../../../assets/booking.png">
            </div>
            <form name="loginForm">
                <div class="sign-in">
                    <div class="messages">
                        <span class="error-message-pass" ng-if="$login.error" style="color: red"><i
                                class="fa fa-exclamation-triangle">Something went wrong on {{message}}! <br> Please
                                try again!</i>
                        </span>

                        <span class="error-message-pass" ng-if="$login.success" style="color: green">
                            <i class="fa fa-check-circle">You {{message}}ed successfully! <br> Now <a
                                    ng-click="$login.changeType('Login')">log in</a>!</i>
                        </span>
                    </div>

                    <div ng-if="$login.state == 'Register'">
                        <p class="input-info">First name</p>

                        <div class="container-name">
                            <input type="text" name="first_name" id="first_name" class="name"
                                ng-model="$login.userData.first_name" required minlength="2">
                        </div>

                        <div class="error_message">
                            <i ng-show="loginForm.first_name.$touched && loginForm.first_name.$error.required"
                                class="fa fa-exclamation-triangle">
                                Please enter your first name!
                            </i>

                            <i ng-show="loginForm.first_name.$touched && loginForm.first_name.$error.minlength"
                                class="fa fa-exclamation-triangle">
                                Yout first name is too short!
                            </i>
                        </div>
                    </div>

                    <div ng-if="$login.state == 'Register'">
                        <p class="input-info">Last name</p>

                        <div class="container-name">
                            <input type="text" name="last_name" id="last_name" class="name"
                                ng-model="$login.userData.last_name" required name minlength="2">
                        </div>

                        <div class="error_message">
                            <i ng-show="loginForm.last_name.$touched && loginForm.last_name.$error.required"
                                class="fa fa-exclamation-triangle">
                                Please enter your last name!
                            </i>

                            <i ng-show="loginForm.last_name.$touched && loginForm.last_name.$error.minlength"
                                class="fa fa-exclamation-triangle">
                                Yout last name is too short!
                            </i>
                        </div>
                    </div>

                    <p class="input-info">Email adress</p>

                    <div class="container-email">
                        <input type="email" name="email" id="email" class="email" ng-model="$login.userData.email"
                            required pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                    </div>

                    <div class="error_message">
                        <i ng-show="loginForm.email.$touched && loginForm.email.$error.required"
                            class="fa fa-exclamation-triangle">
                            Please enter your email!
                        </i>

                        <i ng-show="loginForm.email.$touched && loginForm.email.$error.pattern"
                            class="fa fa-exclamation-triangle">
                            Please enter a valid email format! <br> (Ex: email@email.com)
                        </i>
                    </div>

                    <div ng-if="$login.state == 'Register' || $login.state == 'Login'">
                        <p class="input-info">Password</p>

                        <div class="display-eye">
                            <input type="{{ $login.showPass ? 'text' : 'password'}}" name="password" id="password"
                                class="password" ng-model="$login.userData.password" required pattern=".{4,}">

                            <div class="eye-button">
                                <button type="button" ng-click="$login.showMyPass()" class="show-password">
                                    <i class="fa {{ $login.showPass ? 'fa-eye' : 'fa-eye-slash'}} style-eye"></i>
                                </button>
                            </div>
                        </div>

                        <div class="error_message">
                            <i ng-show="loginForm.password.$touched && loginForm.password.$error.required"
                                class="fa fa-exclamation-triangle">
                                Please enter your password!
                            </i>

                            <i ng-show="loginForm.password.$touched && loginForm.password.$error.pattern"
                                class="fa fa-exclamation-triangle">
                                Your password needs to have at least 4 characters!
                            </i>
                        </div>
                    </div>

                    <div class="container-sign-in">
                        <button type="submit" class="sign-btn" ng-click="$login.login($login.state)"
                            [disabled]="!login.valid"><span>{{$login.state}}</span></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- <div class="container-forgot" ng-if="$login.state == 'Reset'">
            <p class="forgot">Already have an account?
                <a ng-click="$login.changeType('Reset')">Login</a>
            </p>
        </div> -->

        <div class="container-sign-up" ng-if="$login.state != 'Login'">
            <p class="text-account">Already have an account?</p>

            <button type="submit" class="sign-up" ng-click="$login.changeType('Login')">Login</button>
        </div>

        <div class="container-forgot" ng-if="$login.state != 'Reset'">
            <p class="forgot">Forgot password?
                <a ng-click="$login.changeType('Reset')">Reset it</a>
            </p>
        </div>

        <div class="container-sign-up" ng-if="$login.state != 'Register'">
            <p class="text-account">Don't have an account?</p>

            <button type="submit" class="sign-up" ng-click="$login.changeType('Register')">Sign up</button>
        </div>
    </div>



    <!-- <div class="container content" *ngIf="resetContent">

        <div class="row">
            <div class="col-md-12">
                <img class="banner" src="./assets/booking.png">
                <form (ngSubmit)="resetPassword()" #reset="ngForm">
                    <div class="col-md-7">
                        <p class="input-info">Email adress</p>
                        <div>
                            <input type="email" name="email_reset" id="email_reset" class="email"
                                [(ngModel)]="company.email" required email
                                pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #email_reset="ngModel"
                                style="margin-bottom: 5px;">
                        </div>
                        <div class="error-email">
                            <span class="error-message  fa fa-exclamation-triangle"
                                *ngIf="!email_reset.valid && email_reset.touched ">Please
                                enter a valid email format!</span>
                        </div>
                        <div class="resetBtn">
                            <button type="submit" class="sign-btn" [disabled]="!reset.valid">RESET PASSWORD</button>
                        </div>
                        <div class="row">
                            <div class="display_terms">
                                <input type="checkbox" name="agree" id="agree" class="agree" ngModel required>
                                <label class="terms">I agree with Terms & Conditions</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="toLogin">
            <p class="text-account">You don't want to reset password?</p>
            <button type="submit" class="sign-up" (click)="manageForms(true,false,false)">Login</button>
        </div>
    </div>



    <div class="container content" *ngIf="registerContent">

        <div class="row">
            <div class="col-md-12">
                <img class="banner" src="./assets/booking.png">
                <form (ngSubmit)="registerUser()" #create="ngForm">
                    <div class="col-md-7">
                        <span class="help-block" style="color: black"> {{message}}</span>
                        <p class="input-info">Your name</p>
                        <div>
                            <input type="text" name="first_name" id="first_name" class="email"
                                [(ngModel)]="company.name" required #first_name="ngModel" pattern="[a-zA-Z ]*">
                        </div>
                        <div class="error-email">
                            <span class="error-message  fa fa-exclamation-triangle"
                                *ngIf="!first_name.valid && first_name.touched ">Your
                                name must contain only characters!</span>
                        </div>
                        <p class="input-info">Email adress</p>
                        <div>
                            <input type="email" name="email_register" id="email_register" class="email"
                                [(ngModel)]="company.email" required #email_register="ngModel" email
                                pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

                        </div>
                        <div class="error-email">
                            <span class="error-message  fa fa-exclamation-triangle"
                                *ngIf="!email_register.valid && email_register.touched ">Please
                                enter a valid email format!</span>
                        </div>
                        <p class="input-info">Password</p>
                        <div class="display-eye">
                            <input type="{{showHide ? 'password' : 'text'}}" name="password_register"
                                id="password_register" class="password" [(ngModel)]="company.password" required
                                pattern=".{4,}" #password_register="ngModel">
                            <button type="button" (click)="showMyPass()" class="show-password">
                                <i class="fa {{ showHide ? 'fa-eye-slash' : 'fa-eye'}} style-eye"></i>
                            </button>
                        </div>
                        <div>
                            <span class="error-message-pass  fa fa-exclamation-triangle"
                                *ngIf="!password_register.valid &&  password_register.touched ">Please
                                enter at least one: upper-case leter, number, special caracters and minlength 8.</span>
                        </div>

                        <div class="createAccount">
                            <button type="submit" class="sign-btn" [disabled]="!create.valid">CREATE ACCOUNT</button>
                        </div>
                        <div class="row">
                            <div class="display_terms">
                                <input type="checkbox" name="agree_terms" id="agree_terms" class="agree" ngModel
                                    required>
                                <label class="terms">I agree with Terms & Conditions</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div> -->
    <!-- <div class="toLogin">
        <p class="text-account">You have already an account?</p>
        <button type="submit" class="sign-up" (click)="manageForms(true,false,false)">Login</button>
    </div> -->
</div>